Nombre Grupo: {{ Nombre_Grupo }}
División: {{ Division }}
Fecha: 15/06/2026
—-------------------------
Distribución: {{ ansible_facts.distribution }}
Cantidad de Cores: {{ ansible_processor_vcpus }}
—-------------------------
Nombre: {{ NOMBRE }}  Apellido: {{ APELLIDO }}

